<section>
   <div class="hero-banner">
      <div class="">
         <div class="image-layer" style="background-image:url(/assets/images/shapes/Wave\ –\ abstract\ wave\ –\ image.png)"></div>
         <div class="auto-container">
            <div class="contnet_d_flex">
               <div class="text_box_content">
                  <div class="hero_content">
                     <h6 class="animate_up">
                        Advancing Towards Excellence
                     </h6>
                     <h1 class="animate_up">
                     Unlocking Growth with <br> Next-Generation Technology
                     </h1>
                     <p class="animate_up">
                        At Thirumoolar Software, we specialize in harnessing the power of Artificial Intelligence (AI) and Machine Learning (ML) to create intelligent solutions that drive growth and efficiency.
                     </p>
                     <div class="thm_btn animate_down">
                        <a rel="nofollow" class="theme-btn three"> Read More </a>
                     </div>
                  </div>
               </div>
               <!-- <div class="image_content">
                  <div class="animate_right">
                     <img src="/assets/images/shapes/slider-7-bg.jpg" class="img-fluid" alt="hero-image">
                  </div>
               </div> -->
            </div>
         </div>
      </div>
   </div>
   <div class="section-2 auto-container">
      <div class="sec2_heading">
         <h2>Our Key Values</h2>
         <p class="pt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ab, <br> tempora animi minus ut laboriosam qui.</p>
      </div>
      <div class="value_container">
         <div class="card_val_cont">
            <div class="cardV cardV_1">
               <div class="">
                  <h4>Dedication</h4>
                  <p>We are dedicated to providing exceptional service and exceeding customer expectations.</p>
               </div>
            </div>
            <img class="do_nut" src="/assets/images/shapes/bubble.png" alt="">
         </div>
         <div class="card_val_cont">
            <div class="cardV cardV_2">
               <div class="">
                  <h4>Development</h4>
                  <p>We believe in continuous learning and development, fostering a culture of innovation and growth.</p>
               </div>
            </div>
         </div>
         <div class="card_val_cont">
            <div class="cardV cardV_3">
               <div class="">
                  <h4>Results</h4>
                  <p>We are committed to delivering measurable results and driving success for our clients and partners.</p>
               </div>
            </div>
         </div>
         <img class="timer_s" src="/assets/images/shapes/meter.svg" alt="">
      </div>
   </div>
   <div id="cap_section" class="auto-container">
      <img src="/assets/images/shapes/dots-two.svg" alt="">
      <div class="">
         <div class="sec2_heading">
            <h2 class="mb-2">Our Capability</h2>
         </div>
         <div class="row">
            <div class="col-md-6 col-12 cap_content1" style="padding-top: 30px;">
               <p>We’ll help you choose technologies, setup the right architecture, and leverage emerging tools and trends, all the while keeping the product vision intact.</p>
              <p>Thirumoolar leads the way in helping clients navigate change for lasting success. By applying management skills, technological flair, and strategic insights, our organization helps solve clients; individual challenges.</p>
            </div>
            <div class="col-md-6 col-12">
               <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" style="padding: 0px 6px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Product Development
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        At Thirumoolar, we excel in product development by leveraging cutting-edge technologies and agile methodologies. Our experienced teams work collaboratively to transform ideas into innovative software solutions that meet your business objectives 
                        <!-- <a class="lrn_more">read more</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" style="padding: 0px 6px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        AI & MLOps
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Harness the power of Artificial Intelligence and Machine Learning with our specialized AI & MLOps services. From data analysis to model deployment and optimization, we provide end-to-end solutions that drive intelligent decision-making and automation 
                        <!-- <a class="lrn_more">read more</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" style="padding: 0px 6px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Web Application Development
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Our expertise in web application development spans across a wide range of industries and technologies. We design and develop custom web solutions that are scalable, secure, and user-friendly, ensuring a seamless digital experience for your customers 
                        <!-- <a class="lrn_more">read more</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" style="padding: 0px 6px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        DevOps & Infrastructure
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Achieve operational excellence with our DevOps and Infrastructure services. We implement robust DevOps practices and modern infrastructure solutions to streamline development workflows, improve deployment speed, and enhance overall system reliability 
                        <!-- <a class="lrn_more">read more</a> -->
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" style="padding: 0px 6px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Mobile Application
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Empower your business with our mobile application development services designed for Android and cross-platform solutions. We build intuitive and feature-rich mobile apps that drive engagement and deliver value to your users, ensuring seamless experiences across different devices and platforms 
                        <!-- <a class="lrn_more">read more</a> -->
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
   <div class="auto-container log_sec">
      <div class="grow-list">
         <div class="row logo-list align-items-center">
            <div class="text-center col-lg-2 col-md-4 col-sm-4">
               <img src="/assets/images/logo/salesforce.svg" alt="salesforce" width="100" height="70">
            </div>
            <div class="text-center col-lg-2 col-md-4 col-sm-4">
            <img src="/assets/images/logo/lastfm.svg" alt="lastfm" width="105" height="50">
            </div>
            <div class="text-center col-lg-2 col-md-4 col-sm-4">
               <img src="/assets/images/logo/whatsapp.svg" alt="zeiss" width="90" height="90">
            </div>
            <div class="text-center col-lg-2 col-md-4 col-sm-4 eaton">
               <img src="/assets/images/logo/github.svg" alt="eaton" width="95" height="22">
            </div>
            <div class="text-center col-lg-2 col-md-4 col-sm-4">
               <img src="/assets/images/logo/hop.svg" alt="hop eagle" width="100" height="50">
            </div>
            <div class="text-center col-lg-2 col-md-4 col-sm-4">
               <img src="/assets/images/logo/lastfm.svg" alt="lastfm" width="105" height="50">
            </div>
         </div>
      </div>
   </div>
</section>