<section class="pd_spok">
    <div class="auto-container">
        <div class="row banner_con">
            <div class="col-md-6 ban_con">
                <span class="dcs_tr mb-2">Discover AI Tutor</span>
                <h1 class="mb-2">Spokeny</h1>
                <p class="mb-4">Welcome! feel the learning like chatting with a friend. <br> Stay tuned for our upcoming launch on the Android mobile store <br> and start your language journey for free.</p>
                <div class="theme_btn_all color_one">
                    <a class="theme-btn three">Notify</a>
                 </div>
            </div>
            <div class="col-md-6 mb-3 lg:text-left" style="max-width: 470px;">
                <img src="/assets/images/img/ailearner.svg" alt="">
            </div>
        </div>
        <div class="key_con">
            <h3>Key Features</h3>
            <div class="container">
                <p class="text-center">With Spokeny, master multiple languages and communicate effortlessly, enabling fluency and confidence in diverse contexts.</p>
            </div>
            <div class="row">
                <div class="col-md-3 d-flex align-items-center mb-3 position-relative">
                    <h2>Learning <br> Programs <br> We Offer For You</h2>
                    <img class="arrow_" src="/assets/images/shapes/undraw_arrow.svg" alt="">
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="row key_main">
                        <div class="grid_item col-md-4">
                            <div class="key_title">
                                <h6>Sentence Crafting</h6>
                                <img src="/assets/images/icons/make a sentence.jpg" alt="">
                            </div>
                            <p>Our advanced algorithms analyze grammar, syntax, and context to re-write your sentences, ensuring clarity and impactful communication in every word.</p>
                        </div>
                        <div class="grid_item col-md-4">
                            <div class="key_title">
                                <h6>Narative Convox</h6>
                                <img src="/assets/images/icons/Storytelling.jpeg" alt="">
                            </div>
                            <p>Immerse yourself in narratives with Spokeny's Narrative Convox feature. Listen to conversations and enhance your storytelling prowess in your preferred language.</p>
                        </div>
                        <!-- <div class="grid_item col-md-4">
                            <div class="key_title">
                                <h6>Meaning Explorer</h6>
                                <img src="/assets/images/icons/findings.png" alt="">
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, soluta!</p>
                        </div> -->
                        <div class="grid_item col-md-4">
                            <div class="key_title">
                                <h6>Solo Pilot</h6>
                                <img src="/assets/images/icons/one tutor.png" alt="">
                            </div>
                            <p>Interact and practice speaking, listening, and conversational skills in a comfortable environment with real-time feedback and guidance, just like practicing with a friend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wh_spok">
            <h3>Why Choose <span style="color: var(--primary-color-one);">Spokeny?</span></h3>
            <div class="wh_con">
                <img class="bg_img" src="/assets/images/shapes/curved_lin.png" alt="">
                <div class="wh_item">
                    <img src="/assets/images/icons/online-learning.png" alt="">
                    <h5 class="my-2">Efficient Learning</h5>
                    <div class="">
                        <p>Our AI algorithms adapt to your learning style, optimizing study sessions for maximum retention and progress.</p>
                    </div>
                </div>
                <div class="wh_item">
                    <img src="/assets/images/icons/digital-nomad.png" alt="">
                    <h5 class="my-2">Anywhere, Anytime</h5>
                    <div class="">
                        <p>Access Spokeny anytime, anywhere, on your mobile device, making language learning convenient and flexible.</p>
                    </div>
                </div>
                <div class="wh_item">
                    <img src="/assets/images/icons/public-relation.png" alt="">
                    <h5 class="my-2">Community Engagement</h5>
                    <div class="">
                        <p>Connect with fellow learners, participate in challenges, and practice with native speakers, fostering a supportive learning community.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>