<div class="auto-container">
    <aside class="">
      <h5 class="border-bottom pb-2">Legal</h5>
      <div class="mb-2 pt-3"><a class="routerLink" routerLink="/terms">Terms of service</a></div>
      <div class="mb-2 pt-2"><a class="routerLink" routerLink="/privacy">Privacy policy</a></div>
    </aside>
    <section class="">
      <h1 class="mb-2">Terms of Service</h1>
      <p class="lst_update">Last updated: April 4, 2024</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, impedit! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet nesciunt libero itaque omnis sed excepturi explicabo nam magni error unde quos voluptate architecto maiores obcaecati porro, expedita aspernatur odio assumenda esse iste similique accusamus id praesentium! In optio sunt velit dolorem aut saepe ut! Consectetur beatae aut quis culpa!</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, impedit! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet nesciunt libero itaque omnis sed excepturi explicabo nam magni error unde quos voluptate architecto maiores obcaecati porro, expedita aspernatur odio assumenda esse iste similique accusamus id praesentium! In optio sunt velit dolorem aut saepe ut! Consectetur beatae aut quis culpa!</p>
    </section>
</div>
